<section id="intro" class="intro">
		<div class="slogan">
			<div class="sloganBox">
				
				<h2 style="color: white !important;">Adquiere experiencia trabajando en lo que amas, o descubre lo que amas trabajando</h2>
				<a href="/register" class="btn btn-skin scroll" >Cumple tus metas</a>
			</div>	
		</div>	
</section>
<div class="mural">
	<!-- Section: about -->
    <section id="about" style="margin-top: 5% !important;" class=" text-center bg-gray">
		<div class="heading-about ">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">		
					<div class="section-heading">
					<br><br>
					<h2>¿Por qué Jobersity?</h2>
					<h3>Jobersity es la manera más rápida de cubrir una vacante, porque es el único sitio de vinculación inmediata con estudiantes: Tú reduces costos de reclutamiento y capacitación; ellos ganan experiencia.</h3>
					</div>
			
				</div>
			</div>
			</div>
		</div>

	</section>
	<!-- /Section: about -->
	
	
	<!-- Section: services -->

    <section id="service" class=" text-center">		
		<div class="heading-services ">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-lg-offset-2">		
						<div class="section-heading">
							<h2>Servicios</h2>					
						</div>			
					</div>
					<div class="row servicios">
						<div class="col-md-3 col-md-offset-2 estudiantes">
							<h3> Estudiante </h3>
							<hr/>
							<div class="col-md-12 ">
								<div class="box to-animate">
									<div class="icon colored-1"><span><i class="icon-mustache"></i></span></div>
									<img src="assets/img/orientacion.png" class="iconos">
									<h4>Orientación Profesional</h4>
									<p>¿Aún no sabes cuál es tu trabajo ideal? Jobersity te da sugerencias e información útil para encontrar aquello que amas y lo hagas con pasión.</p>
								</div>
							</div>
							<div class="col-md-12">
								<div class="box to-animate">
									<div class="icon colored-2"><span><i class="icon-screen-desktop"></i></span></div>
									<img src="assets/img/experiencia.png" class="iconos">
									<h4>Experiencia Comprobable</h4>
									<hr>
									<p>Se acabaron los pretextos, la misión de Jobersity es que no haya egresados sin experiencia.</p>
								</div>
							</div>
							<div class="col-md-12">
								<div class="box to-animate">
									<div class="icon colored-2"><span><i class="icon-screen-desktop"></i></span></div>
									<img src="assets/img/incencitivo.png" class="iconos">
									<h4>Incentivo económico</h4>
									<hr>
									<p>Jobersity cree en el trabajo remunerado, mereces apoyo económico por ser agente de cambio.</p>
								</div>
							</div>
							<div class="invisibles">
								<div>dd
								</div>
								
								<br>
							</div>
					  	</div>
						<div class="col-md-2">
						</div>	
					  <div class="col-md-3  empresas">
							<h3> Empresas </h3>
							<hr/>
							<div class="col-md-12">
								<div class="box to-animate">
									<div class="icon colored-1"><span><i class="icon-mustache"></i></span></div>
									<img src="assets/img/descubre.png" class="iconos">
									<h4>Descubre a los mejores </h4>
									<hr>
									<p>Selecciona entre perfiles afines a la vacante.</p>
								</div>
							</div>
							<div class="col-md-12">
								<div class="box to-animate">
									<div class="icon colored-2"><span><i class="icon-screen-desktop"></i></span></div>
									<img src="assets/img/evalua.png" class="iconos">
									<h4>Evalúa su desempeño</h4>
									<hr>
									<p>Se acabaron los pretextos, la misión de Jobersity es que no haya egresados sin experiencia.</p>
								</div>
							</div>
							<div class="col-md-12">
								<div class="box to-animate">
									<div class="icon colored-2"><span><i class="icon-screen-desktop"></i></span></div>
									<img src="assets/img/reduce.png" class="iconos">
									<h4>Reduce costos administrativos</h4>
									<hr>
									<p>Investigación y Desarrollo, certificaciones, implementacion de nuevas tecnologías, y más... con descuento de estudiante.</p>
								</div>
							</div>
							<div class="invisibles">
								<div>dd
								</div>
								<div>dd
								</div>
								<br><br>
							</div>
							
					  	</div>								
				</div>
			</div>
		</div>
	
	</section>
	<!-- /Section: services -->
	
		
	<!-- Section: works -->
    <section id="works" class="text-center bg-white">
		<div class="heading-works marginbot-50 ellos">
			<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
		
					<div class="section-heading">
					<br><br>
					<h2>Ellos creen en el talento de los jóvenes en México</h2>
					<p></p>
					</div>
		
				</div>
			</div>
			</div>
		</div>
		<br><br><br><br><br><br>
		<div class="container">
			<div class="row">				
				<center>
					<div class="col-sm-4 col-sm-offset-4">
						<img src="assets/img/e3.png">
						<img src="assets/img/e4.png">
					</div>
					<br>
				</div>
						<img src="assets/img/e1.png">
						<img src="assets/img/e2.png">
						<img src="assets/img/e5.png">


				</center>				
		
		</div>	
	</div>	
	</div>
</section>
	<!-- /Section: works -->

	<!-- Section: contact -->
    <section id="contact" class="home-section text-center">
		<div class="heading-contact marginbot-50">


		</div>
	</section>
</div>
	<!-- /Section: contact -->

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-12">
					<p>Copyright &copy; 2017 Jobersity - by <a href="http://www.wearetamo.com">TAMO</a></p>
				</div>
			</div>	
		</div>
	</footer>
 