<br/><br/>
<div class="container page-header">
    <h1>Registrate!</h1>
</div>
<form class="container" ng-submit='register.regUser(regData);'>
    <label>Email:</label>
    <input class="form-control" type="text" name="email" placeholder="Escriba su correo electronico" ng-model='register.regData.email'>
    <br>
    <label>Nombre de usuario:</label>
    <input class="form-control"  type="text" name="username" placeholder="Escriba su nombre de usuario" ng-model='register.regData.username'>
    <br>
    <label>Nombre:</label>
    <input class="form-control"  type="text" name="username" placeholder="Escriba su nombre" ng-model='register.regData.firstName'>
    <br>
    <label>Apellido:</label>
    <input class="form-control"  type="text" name="username" placeholder="Escriba su apellido" ng-model='register.regData.lastName'>
    <br>
    <label>Universidad:</label>
    <input class="form-control"  type="text" name="university" placeholder="Escriba su Universidad" ng-model='register.regData.university'>
    <br>
    <label>Carrera:</label>
    <input class="form-control"  type="text" name="major" placeholder="Escriba su carrera" ng-model='register.regData.major'>
    <br>
    <label>Tipo de Licenciatura:</label>
    <input class="form-control"  type="text" name="type" placeholder="Escriba su tipo (Licenciatura escolarizada, técnica, posgrado)" ng-model='register.regData.type'>
    <br>
    <label>Año de ingreso:</label>
    <input class="form-control"  type="text" name="year" placeholder="Escriba su año de ingreso" ng-model='register.regData.year'>
    <br>
    <label>Password:</label>
    <input class="form-control"  type="password" name="password" placeholder="Escriba su password" ng-model='register.regData.password'>
    <br>
    <button class="btn btn-primary" type="submit">Registrate</button>
</form>
<br>

<div class="text-center" ng-show="register.loading">
    <span class="glyphicon glyphicon-repeat spinner"></span>
    <p>Cargando....</p>
</div>

<br>
<div class="row show-hide-message" ng-show="register.successMsg">
    <div class="alert alert-success">{{ register.successMsg }}</div>
</div>
<!-- Successful Registration Message -->

<br>

<!-- Failed Registration Message -->
<div class="row show-hide-message" ng-show="register.errorMsg">
    <div class="alert alert-danger">{{ register.errorMsg }}</div>
</div>

<!-- Failed Registration Message -->