
a,.tp-caption a.btn:hover {
	color: #336699;
}
.top-nav-collapse {
	background: #336699;
}

.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #336699;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #336699;
}

.widget-avatar .avatar:hover {
    border: 5px solid #336699;
}

.bg-skin {
	background: #336699;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #336699;
}

footer {
    background-color: #336699;
}


.btn-skin {
  color: #fff;
  background-color: #336699;
  border-color: #336699;
  padding-top: 15px;

}
.btn-skin:hover{
    background-color: #222; 
     border-color: #336699;
}
